{% extends 'base/base.html' %}
{% block content %}
    <div class="">
        <h1 style="text-align:center">Welcome to index</h1>
    </div>
    <div class="message_div">
        {% if username  == 'None' %}
            <p class="message">No cuenta con una session activa, haga loggin</p>
        {% else %}
            <p class="message">Welcome to index {{ username }}</p>
        {% endif %}
    </div> 
    <div class="">
        <a href="/review"><button>Go to Review</button></a>
        <a href="/comment"><button>Comment</button></a>
        <a href="/logout"><button>Logout</button></a>
    </div>
{% endblock %}