{% extends 'base/base.html' %}
{% block content %}
    <div>
        {%if  comments %}
        
            {%for comment in comments.items %}
                <div>
                    <hr>
                    <h2>{{comment.name}}</h2>
                    <h4>{{date_format(comment.created_at)}}</h4>
                    <p>"{{comment.comment}}"</p>
                </div>
            {%endfor %}
        {%endif%}
    </div>
    <div>
        {%if page+1 <= limit_page%}
            <a href="/review/{{page+1}}"><button> Next Page </button></a>
        {%endif%}
        {%if page > 1%}
        <a href="/review/{{page-1}}"><button> Previous Page </button></a>
        {%endif%}
    </div>
{% endblock %}